<div class="{{propStyle}}">
  <label class="{{styles.label}}">
    <span>{{label}}</span>
    <input class="{{styles.input}}" type={{type}} name={{name}} placeholder="{{placeholder}}">
  </label>
  <p class="{{styles.error}}">{{errorText}}</p>
</div>
