<div>
  {{{navbar}}}
  <div class="{{styles.container}}">
    <div class="{{styles.chats}}">
      <div>
        {{{search}}}
        <ul class="{{styles.chat-list}}">
          {{#each chatList as |chat|}}
          <li class="{{../styles.chat-item}}">
            <img src={{chat.photo}} alt="user" class="{{../styles.user-photo}}">
            <div class="{{../styles.chat-info}}">
              <div class="{{../styles.chats-name}}">{{chat.name}}</div>
              <div class="{{../styles.chats-message}}">{{chat.lastMessage}}</div>
            </div>
            <div class="{{../styles.chat-info}} {{../styles.right}}">
              <div class="{{../styles.date}}">{{chat.lastMessage_date}}</div>
              <div class="{{../styles.unread}}">{{chat.unread}}</div>
            </div>
          </li>
          {{/each }}
        </ul>
      </div>
      {{{newChat}}}
    </div>
    <div class="{{styles.content}}">
      <div class="{{styles.content-top}}">
        <div class="{{styles.content-info}}">
          <div class="{{styles.name}}">Evgenya Kukushkina</div>
          <img src="{{photo}}" alt="user" class="{{styles.user-photo}}">
        </div>
        <ul class="{{styles.options}}">
          <li class="{{styles.options-item}}">
            {{{searchChat}}}
          </li>
          <li class="{{styles.options-item}}">
            {{{options}}}
          </li>
        </ul>
      </div>
      <div class="{{styles.content-body}}">
        <div class="{{styles.date-chat}}">Today</div>
        <div class="{{styles.message-item}} {{styles.receive}}">
          Hello. How are you??
          <span class="{{styles.message-time}}">13:44</span>
        </div>
        <div class="{{styles.message-item}} {{styles.send}}">
          Hii. I’m fine
          <span class="{{styles.message-time}}">14:50</span>
        </div>
      </div>
      <form class="{{styles.form}}">
        {{{moreOptions}}}
        {{{message}}}
        {{{send}}}
      </form>
    </div>
  </div>
</div>
