<div class="{{styles.error}}">
  <div class="{{styles.content}}">
    <img src={{img}} alt="error" class="{{styles.img}}">
    <div class="{{styles.error-code}}">{{code}}</div>
    <h1 class="{{styles.error-text}}">{{text}}</h1>
    {{{button}}}
  </div>
</div>
