<div>
  {{{navbar}}}
  <div class="{{styles.container}}">
    <img src={{photo}} alt="user photo" class="{{styles.photo}}">
    <div class="{{styles.name}}">{{display_name}}</div>
    <ul class="{{styles.info-list}}">
      <li class="{{styles.list-item}}">
        <p class="{{styles.title}}">E-mail</p>
        <p class="{{styles.info}}">{{email}}</p>
      </li>
      <li class="{{styles.list-item}}">
        <p class="{{styles.title}}">Login</p>
        <p class="{{styles.info}}">{{login}}</p>
      </li>
      <li class="{{styles.list-item}}">
        <p class="{{styles.title}}">First name</p>
        <p class="{{styles.info}}">{{first_name}}</p>
      </li>
      <li class="{{styles.list-item}}">
        <p class="{{styles.title}}">Second name</p>
        <p class="{{styles.info}}">{{second_name}}</p>
      </li>
      <li class="{{styles.list-item}}">
        <p class="{{styles.title}}">Display name</p>
        <p class="{{styles.info}}">{{display_name}}</p>
      </li>
      <li class="{{styles.list-item}}">
        <p class="{{styles.title}}">Phone</p>
        <p class="{{styles.info}}">{{phone}}</p>
      </li>
    </ul>
    <button class="{{styles.btn}}">Change password</button>
  </div>
</div>
