<div>
  {{{navbar}}}
  <div class="{{styles.container}}">
    <img src={{photo}} alt="user photo" class="{{styles.photo}}">
    <div class="{{styles.name}}">{{display_name}}</div>
    {{{content}}}
  </div>
</div>
</div>
