<form class="{{styles.content}} {{#if active}}{{styles.content-active}}{{/if}}">
  {{{close}}}
  <div>
    <h2 class="{{styles.title}}">{{title}}</h2>
    {{{content}}}
  </div>
  {{{submit}}}
  <span class="{{styles.error}}">{{error}}</span>
</form>
