<form class="{{styles.form}}">
  <div class="{{styles.input}}">
    {{{login}}}
    <p class="{{styles.error}}">{{errorLogin}}</p>
  </div>
  <div class="{{styles.input}}">
    {{{password}}}
    <p class="{{styles.error}}">{{errorPassword}}</p>
  </div>
  {{{button}}}
</form>
