<nav class="{{styles.navbar}}">
  <ul class=" {{styles.list}}">
    <li class="{{styles.item}}">
      <a href="/settings" class="{{styles.item}}">
        <img src="{{photo}}" alt=" user" class="{{styles.photo}}">
        <span>Profile</span>
      </a>
    </li>
    <li class="{{styles.item}}">
      <a href="/messenger" class="{{styles.item}}">
        <img src="{{messageIcon}}" alt=" chat" class="{{styles.icon}}">
        <span>Chat</span>
      </a>
    </li>
    <li class="{{styles.item}}">
      <span>
        {{{logout}}}
      </span>
    </li>
  </ul>
</nav>
