<nav class="{{styles.navbar}}">
  <ul class=" {{styles.list}}">
    <li class="{{styles.item}}">
      <img src="{{userPhoto}}" alt=" user" class="{{styles.photo}}">
      <span>
        <a href="/settings">Profile</a>
      </span>
    </li>
    <li class="{{styles.item}}">
      <img src="{{messageIcon}}" alt="chat" class="{{styles.icon}}">
      <span>
        <a href="/messenger">Chat</a>
      </span>
    </li>
    <li class="{{styles.item}}">
      <span>
        {{{logout}}}
      </span>
    </li>
  </ul>
</nav>
