<nav class="{{styles.navbar}}">
  <ul class=" {{styles.list}}">
    <li class="{{styles.item}}">
      {{{profile}}}
    </li>
    <li class="{{styles.item}}">
      {{{chat}}}
    </li>
    <li class="{{styles.item}}">
      <span>
        {{{logout}}}
      </span>
    </li>
  </ul>
</nav>
