<nav class="{{styles.navbar}}">
  <ul class=" {{styles.list}}">
    <li class="{{styles.item}}">
      <img src="{{userPhoto}}" alt=" user" class="{{styles.photo}}">
      <span>
        <a href="/profile/profile.hbs">Profile</a>
      </span>
    </li>
    <li class="{{styles.item}}">
      <img src="{{messageIcon}}" alt="chat" class="{{styles.icon}}">
      <span>
        <a href="/chat/chat.hbs">Chat</a>
      </span>
    </li>
    <li class="{{styles.item}}">
      <img src="{{logoutIcon}}" alt="log out" class="{{styles.icon}}">
      <span>
        {{!-- Ссылка временно --}}
        <a href="/signin/signin.hbs">Log out</a>
      </span>
    </li>
  </ul>
</nav>
