<div class="custom-input">
    <label class="custom-input__label">
        <span>{{label}}</span>
        <input class="custom-input__input" type = {{type}} name = {{name}} placeholder = "{{text}}">
    </label>
    <p class="custom-input__error">{{error-text}}</p>
</div>