<form class="{{styles.form}}">
  <div class="{{styles.input}}">
    {{{email}}}
    <p class="{{styles.error}}">{{errorEmail}}</p>
  </div>
  <div class="{{styles.input}}">
    {{{login}}}
    <p class="{{styles.error}}">{{errorLogin}}</p>
  </div>
  <div class="{{styles.input}}">
    {{{firstName}}}
    <p class="{{styles.error}}">{{errorFirstName}}</p>
  </div>
  <div class="{{styles.input}}">
    {{{secondName}}}
    <p class="{{styles.error}}">{{errorSecondName}}</p>
  </div>
  <div class="{{styles.input}}">
    {{{phone}}}
    <p class="{{styles.error}}">{{errorPhone}}</p>
  </div>
  <div class="{{styles.input}}">
    {{{password}}}
    <p class="{{styles.error}}">{{errorPassword}}</p>
  </div>
  {{{button}}}
  {{{error}}}
</form>
