<form class="{{styles.form}}">
  {{{oldPassword}}}
  <div class="{{styles.input}}">
    {{{newPassword}}}
    <p class="{{styles.error}}">{{errorPassword}}</p>
  </div>
  <div class="{{styles.btns}}">
    {{{save}}}
    {{{close}}}
  </div>
</form>
